<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Panth Patel</a>
    <ul class="navbar-nav mr-auto">
        <li>
            <a class="nav-link" href="/">Home</a>
        </li>
        <li>
            <a class="nav-link" href="/about">About Me</a>
        </li>
        <a class="nav-link" href="/projects">Projects</a>
        </li>
        <a class="nav-link" href="/services">Services</a>
        </li>
        <li>
            <a class="nav-link" href="/contact">Contact</a>
        </li>
    </ul>
</nav>