
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
        <h1>About Me</h1>
        <div class="profile">
            <img style="width: 150px;" src="/images/panth.jpeg" alt="show">
            <h2>Panth Patel</h2>
            <p>
                Hello Everyone, my name is Panth Patel ,I am from India and I am 19 years old.I have currently enrolled into Software
                Engineering Technicain Program at Centennial College.Being an International Student it has been a
                Roller Coster ride in getting used to the lifestyle of Canada but thanks to my family,friends and my
                wonderful teachers who have helped me throught this journey.
            </p>
            <a href="/Panthresume (2).pdf" target="_blank">Download Resume</a>
        </div>
    </div>
  </main>
  
  <footer>
    <div class="footer-container">
        <p>&copy; 2023 PANTH PATEL. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>