<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Welcome to my Portfolio</h1>

      <h2>Mission Statemnent</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita error aut voluptate eaque libero iusto
        maxime
        ducimus saepe voluptates obcaecati laudantium consequuntur porro sit est, quis voluptatum officia sequi!
        Cupiditate.</p>
    </div>
  </main>
  
  <footer>
    <div class="footer-container">
        <p>&copy; 2023 PANTH PATEL. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>