<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>


  <main>
    <section>
      <h1>Projects</h1>
      <div class="project">
        <img src="/images/game.jpg" style="width:500px" alt="Project 1">
        <h2>2-D game</h2>
        <p>
          Game look alike of Atari 2600 Space Invaders.
        </p>
      </div>
      <div class="project">
        <img src="/images/computers.gif" style="width:500px" alt="Project 2">
        <h2>Chess engine</h2>
        <p>
          A chess Engine just like Stockfish,AlphaZero,Leela etc.
        </p>
      </div>
      <div class="project">
        <img src="/images/comp.gif" style="width:500px" alt="Project 3">
        <h2>Educational App</h2>
        <p>
          This application will use Augmented reaity to make learning more interesting.
        </p>
      </div>
    </section>
  </main>
  
  <footer>
    <div class="footer-container">
        <p>&copy; 2023 PANTH PATEL. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
