<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>


  <main>
    <section>
      <h1>Services</h1>
      <ul>
        <li>Service 1 - Interactive web applications</li>
        <li>Service 2 - Game Development</li>
        <li>Service 3 - App Development</li>
        <li>Service 4 - Java - Tutoring</li>
        <li>Service 5 - Basics of Computer Science 3 months course</li>
      </ul>
    </section>
  </main>
  <footer>
    <div class="footer-container">
        <p>&copy; 2023 PANTH PATEL. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>